<!DOCTYPE html>
<html>
<head>
  <title>Unordered List Exercise</title>
</head>
<body>
<ul>
  <li>Siddharth</li>
  <li>Priyanka</li>
  <li>Samyak</li>
  <li>Udyan Maurya</li>
</ul>
<%= link_to image_tag('siddharth.jpg'), root_path%>
</body>
</html>